.card-text {
  text-align: center;
  position: relative;
  color: white;
}
.images {
  position: absolute;
}
.form-group {
  background-color: transparent;
  text-align: justify;
}

  footer {
    display: flex;
    justify-content: center;
}
p {
  text-align: center;
}
h1 {
  text-align: center;
}
#design {
  display: none;
  

}
#development {
  display: none;
}
#product-management {
  display: none;
}
