.card-text {
  text-align: center;
  position: relative;
  color: white;
}
.images {
  position: absolute;
}
.form-group {
  background-color: transparent;
  text-align: justify;
}

  footer {
    display: flex;
    justify-content: center;
}
p {
  text-align: center;
}
h1 {
  text-align: center;
}
#design {
  display: none;
  cursor: pointer;
  color: #161718;
}
.image {
  cursor: pointer;
  color: #0088cc;
  }
